<!DOCTYPE html>
<html>
  <head>
    <title>GeocodingApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="width: 960px; margin: 0 auto;">
    <%= yield %>
    </div>
  </body>
</html>
